Data types

In [8]:
#Integers Example
age = 34
print(type(age))

<class 'int'>

In [9]:
#Floating point number 
height = 6.1
type(height)

float

In [10]:
#string data type
name = 'varad'
type(name)

str

In [11]:
#Boolean data type
is_true = True
type(is_true)
bool()
a=20
b=20
a==b

True

In [12]:
##common errors
result = "hello"+5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = "hello"+str(5)
result

'hello5'